html {
  font-size: calc(1em + 0.5vw);
  font-family: Futura, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
  box-sizing: border-box;
}

* + * {
  margin-top: 1.5rem;
}

br,
dt,
dd,
th,
td,
option,
[hidden] + *,
li + li,
body,
.main-and-footer {
    margin-top: 0;
}

body {
  max-width: 35rem;
  margin: 1.5rem auto;
  line-height: 1.5;
  padding: 0 1.5rem;
}

h1, h2, h3 {
  line-height: 1.125;
}

h1 {
  font-size: 1.66rem;
}

h2 {
  font-size: 1.33rem;
}

h3 {
  font-size: 1rem;
}

main {
  margin-top: 3rem;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  flex-flow: row wrap;
}

nav li {
  line-height: 1;
}

nav a {
  text-decoration: none;
  line-height: 1;
}

nav [aria-current] {
  border-bottom: 4px solid;
  transition: border 0.25s ease-in;
}

[tabindex="-1"]:focus,
div:not([tabindex]):focus {
  outline: none;
}

header {
  text-align: center;
}

header svg {
  height: 4rem;
  width: auto;
}

pre, .params-object {
  font-size: 0.75rem;
  padding: 1rem;
  overflow-x: auto;
  border: 1px solid;
  font-family: monospace;
}

.hl {
  background: #000;
  outline: 2px solid #000;
  color: #fff;
}

.box {
  padding: 1em;
  border: 1px solid;
  outline: 1px solid;
  outline-offset: 2px;
}

main ul {
  padding-left: 2rem;
}

@keyframes flash {
  0% { color: #fff }
  100% { color: #000 }
}

#a-subsection:target, #focus-management:target {
  animation: flash 1s ease-in;
}

/* Animations */

@keyframes fade-out {
  0% { opacity: 1 }
  100% { opacity: 0 }
}

@keyframes fade-in {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.animate-out {
  animation: fade-out 1s ease-out 1;
}

.animate-in {
  animation: fade-in 1s ease-out 1;
}

@media (max-width: 550px) {
  nav li {
    width: 50%;
    padding: 0.5rem;
  }

  nav a {
    display: inline-block;
  }
}
